apiVersion: apps/v1
kind: Deployment
metadata:
  name: skipper-ingress
  labels:
    application: skipper-ingress
    version: v0.13.44
    component: ingress
spec:
  strategy:
    rollingUpdate:
      maxSurge: 0
  selector:
    matchLabels:
      application: skipper-ingress
  template:
    metadata:
      name: skipper-ingress
      labels:
        application: skipper-ingress
        version: v0.13.44
        component: ingress
    spec:
      priorityClassName: system-cluster-critical
      serviceAccountName: skipper-ingress
      dnsPolicy: ClusterFirstWithHostNet
      containers:
        - name: skipper-ingress
          image: registry.opensource.zalan.do/teapot/skipper:v0.13.44
          ports:
            - name: ingress-port
              containerPort: 9999
            - name: debug-port
              containerPort: 9992
          env:
            - name: KUBE_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
          resources:
            requests:
              cpu: 50m
              memory: 256Mi
            limits:
              cpu: 100m
              memory: 512Mi
          args:
            - "skipper"
            - "-kubernetes"
            - "-kubernetes-in-cluster"
            - "-kubernetes-path-mode=path-prefix"
            - "-kubernetes-https-redirect=false"
            - "-address=:9999"
            - "-wait-first-route-load"
            - "-proxy-preserve-host"
            - "-disable-metrics-compat"
            - "-debug-listener=:9922"
            - "-experimental-upgrade"
            - "-metrics-exp-decay-sample"
            - "-reverse-source-predicate"
            - "-lb-healthcheck-interval=3s"
            - "-access-log-json-enabled"
            - "-read-timeout-server=2m"
            - "-write-timeout-server=2m"
            - "-response-header-timeout-backend=2m"
            - "-timeout-backend=2m"
          readinessProbe:
            httpGet:
              path: /kube-system/healthz
              port: 9999
            initialDelaySeconds: 60
            timeoutSeconds: 5
          securityContext:
            readOnlyRootFilesystem: true
            runAsNonRoot: true
            runAsUser: 999
