name: Tests

on: [push]

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        java: [ 11 ]
        kubernetes:
          - 'v1.24.17'
          - 'v1.25.15'
          - 'v1.26.14'
          - 'v1.27.11'
          - 'v1.28.7'
          - 'v1.29.2'

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK
        uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java }}
      - name: Cache Maven packages
        uses: actions/cache@v4
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2
      - name: Setup Minikube
        uses: manusa/actions-setup-minikube@v2.10.0
        with:
          minikube version: 'v1.32.0'
          kubernetes version:  ${{ matrix.kubernetes }}
          github token: ${{ secrets.GITHUB_TOKEN }}
      - name: Pull images
        run: |
          minikube image pull openanalytics/shinyproxy-demo
          minikube image pull curlimages/curl:latest
      - name: Build with Maven
        run: mvn -B -U clean install -DskipTests
      - name: Run Tests
        run: mvn -B test

#  dependency:
#    runs-on: ubuntu-latest
#
#    steps:
#      - uses: actions/checkout@v2
#      - name: Run Dependency Check
#        run: mvn -Powasp-dependency-check verify -DskipTests
#      - name: Archive code coverage results
#        uses: actions/upload-artifact@v2
#        with:
#          name: dependency-check-report
#          path: target/dependency-check-report.html
#
